<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileNamer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileNamer.My.MySettings>
            <setting name="OriginalMovieFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RenamedMovieFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OriginalTVFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RenamedTVFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WriteResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuggestFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IndividualFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSubtitleFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeChanges" serializeAs="String">
                <value>True</value>
            </setting>
        </FileNamer.My.MySettings>
    </userSettings>
</configuration>